<a class="anchor" id="top-of-doc"></a>
## Table Of Contents: 
* [Prep](#prep)
* [Section 1: Logistic Regression](#section1)

<div class="span5 alert alert-info">
<B>  Prep: </B> <a class="anchor" id="prep"></a>   
</div>

<div class="span5 alert alert-success">
<I> About prep: </I> This is preparation for machine learning
</div>

In [1]:
#Directory path
%cd C:\Users\user\Documents\00_Applications_DataScience\00_After_Springboard\City_Finances\Data

C:\Users\user\Documents\00_Applications_DataScience\00_After_Springboard\City_Finances\Data

In [2]:
#Imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression 

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
#Set option
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
#Import the dataset
data_in = pd.read_csv('04_cities_training_data.csv')
#data_in = pd.read_csv('03_cities_summary.csv')

data_in.head(2)

,city_state,grand_total_rev,grand_total_spending,rev_minus_spend,rem_bal_2002,rem_bal_2003,rem_bal_2004,rem_bal_2005,rem_bal_2006,rem_bal_2007,rem_bal_2008,rem_bal_2009,rem_bal_2010,rem_bal_2011,rem_bal_2012,rem_bal_2013,rem_bal_2014,rem_bal_2015,rem_bal_2016,2003_percent_change,2004_percent_change,2005_percent_change,2006_percent_change,2007_percent_change,2008_percent_change,2009_percent_change,2010_percent_change,2011_percent_change,2012_percent_change,2013_percent_change,2014_percent_change,2015_percent_change,2016_percent_change,outlier,money_mgmt
0,Akron_OH,81575.40,87166.39,-5590.99,-168.52,-112.27,-111.69,-162.80,-184.82,-400.78,-162.37,-1225.73,-714.19,-889.40,-38.21,-226.72,-75.78,-728.78,-388.93,-0.333788,-0.005166,0.457606,0.135258,1.168488,-0.594865,6.548993,-0.417335,0.245327,-0.957038,4.933525,-0.665755,8.617049,-0.466327,0.0,2
1,Albuquerque_NM,61990.31,60122.36,1867.95,51.09,44.95,237.53,177.48,752.65,224.15,249.50,-95.31,-88.79,-71.18,84.84,7.36,110.42,5.44,177.82,-0.120180,4.284316,-0.252810,3.240760,-0.702186,0.113094,-1.382004,-0.068408,-0.198333,-2.191908,-0.913248,14.002717,-0.950734,31.687500,0.0,3

In [6]:
#Create train and test data
df_train_in = data_in.iloc[:,19:35]

array = df_train_in.values
X = array[:,0:15]
Y = array[:,15]

In [7]:
#Create a training and test dataset
test_size = 0.33
seed = 7
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = test_size, random_state = seed)

<div class="span5 alert alert-info">
<B>  Section 1: Logistic Regression </B> <a class="anchor" id="section1"></a> 
 
</div>

<div class="span5 alert alert-success">
<I> Complete Logistic Regression using the percent change data</I>
</div>

In [8]:
#Train the Logistic Regression model
model = LogisticRegression(multi_class = 'multinomial', solver = 'newton-cg')

model.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='multinomial',
          n_jobs=None, penalty='l2', random_state=None, solver='newton-cg',
          tol=0.0001, verbose=0, warm_start=False)

In [9]:
#Predict the Logistic Regression model
Y_pred = model.predict(X_test)

In [10]:
#Score the Logistic Regression model
print('CONFUSION MATRIX FOR LOGISTIC REGRESSION')
print(confusion_matrix(Y_test, Y_pred))

print()

CONFUSION MATRIX FOR LOGISTIC REGRESSION
[[ 0  1  1]
 [ 0 14  3]
 [ 0  7  0]]

In [11]:
print('CLASSIFICATION REPORT')
print(classification_report(Y_test, Y_pred))

print()

CLASSIFICATION REPORT
              precision    recall  f1-score   support

         1.0       0.00      0.00      0.00         2
         2.0       0.64      0.82      0.72        17
         3.0       0.00      0.00      0.00         7

   micro avg       0.54      0.54      0.54        26
   macro avg       0.21      0.27      0.24        26
weighted avg       0.42      0.54      0.47        26

In [12]:
print('ACCURACY SCORE')
print(accuracy_score(Y_test,Y_pred))

ACCURACY SCORE
0.5384615384615384