<a class="anchor" id="top-of-doc"></a>
## Table Of Contents: 
* [Prep](#prep)
* [Section 1: Create a training and test dataset](#section1)

<div class="span5 alert alert-info">
<B>  Prep: </B> <a class="anchor" id="prep"></a>   
</div>

<div class="span5 alert alert-success">
<I> About prep: </I> This is preparation for applying clustering algorithms to the cities that (1) have gone bankrupt or close to bankrupt, (2) cities with a large deficit each year, (3) cities with a large surplus each year.
</div>

In [11]:
#Directory path
%cd C:\Users\user\Documents\00_Applications_DataScience\00_After_Springboard\City_Finances\Data

C:\Users\user\Documents\00_Applications_DataScience\00_After_Springboard\City_Finances\Data

In [12]:
#Imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:
import warnings
warnings.filterwarnings('ignore')

In [14]:
#Set option
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [15]:
#Import the dataset
data_in = pd.read_csv('03_cities_summary.csv')

data_in.head(2)

,city_state,grand_total_rev,grand_total_spending,rev_minus_spend,rem_bal_2002,rem_bal_2003,rem_bal_2004,rem_bal_2005,rem_bal_2006,rem_bal_2007,rem_bal_2008,rem_bal_2009,rem_bal_2010,rem_bal_2011,rem_bal_2012,rem_bal_2013,rem_bal_2014,rem_bal_2015,rem_bal_2016,2003_percent_change,2004_percent_change,2005_percent_change,2006_percent_change,2007_percent_change,2008_percent_change,2009_percent_change,2010_percent_change,2011_percent_change,2012_percent_change,2013_percent_change,2014_percent_change,2015_percent_change,2016_percent_change,outlier,money_mgmt
0,Akron_OH,81575.40,87166.39,-5590.99,-168.52,-112.27,-111.69,-162.80,-184.82,-400.78,-162.37,-1225.73,-714.19,-889.40,-38.21,-226.72,-75.78,-728.78,-388.93,-0.333788,-0.005166,0.457606,0.135258,1.168488,-0.594865,6.548993,-0.417335,0.245327,-0.957038,4.933525,-0.665755,8.617049,-0.466327,0.0,2
1,Albuquerque_NM,61990.31,60122.36,1867.95,51.09,44.95,237.53,177.48,752.65,224.15,249.50,-95.31,-88.79,-71.18,84.84,7.36,110.42,5.44,177.82,-0.120180,4.284316,-0.252810,3.240760,-0.702186,0.113094,-1.382004,-0.068408,-0.198333,-2.191908,-0.913248,14.002717,-0.950734,31.687500,0.0,3

In [16]:
#Count the money management categories to identify how to best split into training and test data 
bankrupt_count = data_in.city_state.loc[data_in.money_mgmt == 1].count()
deficit_count = data_in.city_state.loc[data_in.money_mgmt == 2].count()
surplus_count = data_in.city_state.loc[data_in.money_mgmt == 3].count()

print(f'bankrupt count is: {bankrupt_count}')
print(f'deficit count is: {deficit_count}')
print(f'surplus count is: {surplus_count}')

bankrupt count is: 5
deficit count is: 109
surplus count is: 38

In [17]:
#Create train and test dataframes by placing two thirds of each category in training and the remaining third as test. 

#Create a train list and a test list
cat1_count = 0
cat2_count = 0
cat3_count = 0

train_list = []
test_list = []


for r in data_in.values:
    #bankrupt
    if r[-1] == 1 and cat1_count < 3:
        train_list.append(r[0])
        cat1_count += 1
    
    elif r[-1] == 1 and cat1_count >= 3:
        test_list.append(r[0])
    
    #deficit
    elif r[-1] == 2 and cat2_count < 55:
        train_list.append(r[0])
        cat2_count += 1
    
    elif r[-1] == 2 and cat2_count >= 55:
        test_list.append(r[0])
        
    #surplus
    elif r[-1] == 3 and cat3_count < 20:
        train_list.append(r[0])
        cat3_count += 1
    
    elif r[-1] == 3 and cat3_count >= 20:
        test_list.append(r[0])

In [18]:
df_train = data_in.loc[data_in.city_state.isin(train_list)]

out_csv = '04_cities_training_data.csv'
df_train.to_csv(out_csv, index = None)

In [19]:
df_test = data_in.loc[data_in.city_state.isin(test_list)]

out_csv = '05_cities_test_data.csv'
df_test.to_csv(out_csv, index = None)